html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: pp mori;
  /* background-color: #e99eb6; */
  /* background: linear-gradient(to right, rgb(201, 36, 28), rgb(133, 19, 133)); */
  background-color: rgb(224, 204, 244);
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

.contianer {
  /* padding: 10vw 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6vw;
}
input {
  font-size: 4vw;
  width: 32%;
  font-weight: 400;
  /* background-image: linear-gradient(to bottom right, salmon, #d626c8); */
  background-color: #292e37;
  text-align: center;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  /* border: 4px solid gray; */
  color: white;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  padding: 2vw 0.1vw;
  border-bottom: 2px solid black;
  /* outline: 2px solid black; */
}
.row {
  display: flex;

  align-items: center;
  justify-content: center;
}
.row button {
  width: 5%;

  padding: 1vw 3vw;
  line-height: 3vw;

  text-align: center;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #292e37;
  /* border: 1px solid rgb(0, 0, 0); */
  font-size: 2vw;
  background-color: none;
  /* border-left: 2px solid black;
  border-right: 4px solid black;
  border-bottom: 3px solid black;
  border-top: 3px solid black; */
  border: none;
  outline: none;
}

h1 {
  /* padding: 1vw 0; */
  text-align: center;
  color: rgba(36, 36, 36, 0.836);
  font-size: 2vw;
  /* margin-top: 1vw; */
  /* margin-bottom: 7vw; */
  margin-bottom: -6vw;
}

.button.signs {
  background-color: rgb(133, 19, 133);
  /* background-image: linear-gradient(
    to bottom right,
    #ca3364,
    rgb(193, 57, 50, 1)
  ); */
  color: white;
}
.button.num {
  /* background-color: rgb(201, 36, 28); */
  color: white;
}
.button.clear {
  background-color: gray;
  color: rgb(133, 19, 115);
}
.button.color {
  color: #be68d6;
}
.button.num.bg {
  background-color: rgb(196, 90, 220);
  color: rgb(255, 255, 255);
}

/* .last-btn {
  margin-left: 5vw;
}

.last-btn button {
  margin-right: -1vw;

  padding: 1px 4.25vw;

  text-align: center;
  border: 3px solid gray;
} */

/* resp0nsiveness */

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
    font-size: 10vw;
    padding: 2vw;
  }

  input {
    padding: 6vw 17.2vw;
  }

  .row button {
    padding: 5vw 10.4vw;
    font-size: 6vw;
    text-align: center;
    line-height: 1;
  }
}

@media (min-width: 600px) and (max-width: 1400px) {
  body {
    overflow: initial;
  }
  h1 {
    font-size: 6vw;
    padding: 1.7vw;
  }
  input {
    padding: 6vw 10.5vw;
    font-size: 4vw;
  }
  .row button {
    padding: 2vw 7.4vw;
    font-size: 5vw;
    line-height: 1.2;
  }
}
@media (min-width: 1400px) and (max-width: 1800px) {
  h1 {
    font-size: 4vw;
  }
  input {
    padding: 2vw 8.6vw;
    font-size: 4vw;
  }
  .row button {
    padding: 1vw 6.4vw;
    font-size: 4vw;
  }
}
